#Cabecalho {
    text-align: center;
}

#Logo {
    width: 400px;
    text-align: center;
}

body {
    background-color: #f2eded;
    font-size: 80%;
}

#menu {
    float: left;
    width: 100%;
}

    #menu li {
        margin-right: 2em;
        display: inline-block;
        
    }

img, picture, video, embed {
    max-width: 100%;
}

#Links {
    margin: 0 auto;
    text-align: center;
    background-color: gray;
    font-family: Tahoma;
    font-size:15px;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

header {
    background-color: #f2eded;
}

#Esquerda {
    text-align: center;
    font-family: Tahoma;
    margin-left: 150px;
    width: 25%;
    border: solid;
    border-color: #808080;
    border-width: 1px;
    float: left;
    background-color: white;
    height: 700px;
}

#Centro {
    margin-left: 20px;
    border: solid;
    border-color: #808080;
    border-width: 1px;
    background-color: white;
    float: left;
    width: 650px;
    max-height: 100%;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
}

#CentroSobre {
    margin-top: 10px;
    margin-left: 25%;
    border: solid;
    border-color: #808080;
    border-width: 1px;
    background-color: white;
    float: left;
    width: 650px;
    max-height: 100%;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
}

#CentroContato {
    margin-top: 10px;
    margin-left: 25%;
    border: solid;
    border-color: #808080;
    border-width: 1px;
    background-color: white;
    float: left;
    width: 650px;
    max-height: 100%;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
}

#Total {
    margin-top: 50px;
    width: 100%;
}

h1, h4 {
    text-align: center;
    font-family: 'Comic Sans MS';
    color: #0094ff;
}

#banner {
    width: 100%;
}

#direcionamento {
    text-align: left;
    font-size: 12px;
}

#fachada {
    width: 80%;
    margin-top: 20px;
}

#Planos {
    width: 100%;
    margin-top: 10px;
}

#a11, #a22 {
    margin-left: 90px;
    width: 40%;
    border: solid;
    background-color: white;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
    float: left;
    border-width: 1px;
    height: 430px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-color: #808080;
}

#a12, #a21 {
    margin-left: 90px;
    width: 40%;
    border: solid;
    background-color: white;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
    float: left;
    border-width: 1px;
    height: 430px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-color: #808080;
}

#Cases {
    width: 100%;
    margin-top: 30px;
}

.Case {
    margin-left: 25%;
    width: 700px;
    border: solid;
    background-color: white;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
    float: left;
    border-width: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-height: 100%;
    border-color: #808080;
}

#TopoCase {
    margin-left: 25%;
    width: 700px;
    border: solid;
    background-color: white;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
    float: left;
    border-width: 1px;
    max-height: 100%;
    border-color: #808080;
}

#Desenvolvimento {
    margin-top: 10px;
    margin-left: 13%;
    width: 1000px;
    max-height: 100%;
    border: solid;
    background-color: white;
    font-family: Tahoma;
    font-size: 14px;
    text-align: center;
    float: left;
    border-width: 1px;
    border-color: #808080;
}

#Aqui {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #Esquerda, #Centro, #CentroSobre, #a11, #a12, #a21, #a22, #Cases, #TopoCase, .Case, #CentroContato, #Desenvolvimento {
        width: 43%; /*264px -1128*/
        float: left;
        margin-left: 0;
        margin-right: 0;
    }
    #Links{
        font-size:18px;
    }
}

@media screen and (max-width: 640px) {
    #Esquerda, #Centro, #CentroSobre, #a11, #a12, #a21, #a22, #Cases, #TopoCase, .Case, #CentroContato, #Desenvolvimento {
        width: 100%; /*264px -1128*/
        margin-left: 0;
        margin-right: 0;
        margin-top: 0px;
    }
     #Links{
        font-size:18px;
    }
}

@media screen and (max-width: 1128px) {
    #Esquerda, #Centro, #CentroSobre, #a11, #a12, #a21, #a22, #Cases, #TopoCase, .Case, #CentroContato, #Desenvolvimento {
        width: 100%; /*264px -1128*/
        margin-left: 0;
        margin-top: 0px;
    }
     #Links{
        font-size:18px;
    }
}

@media screen and (max-width: 520px) {
    #Esquerda, #Centro, #CentroSobre, #a11, #a12, #a21, #a22, #Cases, #TopoCase, .Case, #CentroContato, #Desenvolvimento {
        width: 100%; /*264px -1128*/
        margin-left: 0;
        margin-top: 0px;
    }
     #Links{
        font-size:19px;
    }
}
@media screen and (max-width: 320px) {
    #Esquerda, #Centro, #CentroSobre, #a11, #a12, #a21, #a22, #Cases, #TopoCase, .Case, #CentroContato, #Desenvolvimento {
        width: 100%; /*264px -1128*/
        margin-left: 0;
        margin-top: 0px;
    }
     #Links{
        font-size:18px;
    }
}